@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  font-weight: 500;
}
p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 27px;
  color: #1E1E1E;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  color: #1E1E1E;
  font-weight: 600;
}

h3 {
  color: #28BB9E;
  font-size: 18px;
}

h4 {
  font-size: 16px;
  color: #9FA1A6;
  font-weight: 300;
}

.text-primary {
  color: #28BB9E !important;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 8px 18px;
  border-width: 1px;
  border-style: solid;
  font-weight: 400;
  border-radius: 4px;
}
.btn.btn-sm {
  padding: 4px 18px;
}
.btn.btn-primary {
  color: #f5f5f5;
  border-color: #28BB9E;
  background-color: #28BB9E;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: #1f917b;
  border-color: #1f917b;
}
.btn.btn-secondary {
  color: #f5f5f5;
  border-color: #8F8F8F;
  background-color: #8F8F8F;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background-color: #767676;
  border-color: #767676;
}
.btn.btn-outline-secondary {
  color: #222222;
  border-color: #8F8F8F;
}
.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn.btn-outline-secondary.dropdown-toggle {
  color: #1C1C1C;
  padding: 7px 18px;
  border-radius: 8px;
  border-color: #e8e8e8;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
}
.btn.btn-outline-secondary.dropdown-toggle::after {
  content: "\f229";
  font-family: "bootstrap-icons";
  color: #969696;
  font-size: 10px;
  margin-left: 6px;
  vertical-align: baseline;
  border: none;
}
.btn.btn-outline-secondary.dropdown-toggle .bi {
  color: #969696;
  margin-right: 8px;
}

.dropdown {
  display: inline-block;
}
.dropdown .dropdown-toggle {
  padding: 7px 17px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
}
.dropdown .dropdown-toggle::after {
  content: "\f229";
  font-family: "bootstrap-icons";
  font-size: 10px;
  margin-left: 6px;
  vertical-align: baseline;
  border: none;
}
.dropdown .dropdown-toggle .bi {
  margin-right: 8px;
}
.dropdown .dropdown-toggle.btn-outline-secondary {
  color: #1C1C1C;
  border-color: #e8e8e8;
}
.dropdown .dropdown-toggle.btn-outline-secondary:hover, .dropdown .dropdown-toggle.btn-outline-secondary:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.dropdown .dropdown-toggle.btn-outline-secondary .bi {
  color: #969696;
}
.dropdown .dropdown-toggle.btn-outline-secondary::after {
  content: "\f229";
  font-family: "bootstrap-icons";
  font-size: 10px;
  margin-left: 6px;
  vertical-align: baseline;
  border: none;
}

.card {
  border: none;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
  margin: 16px auto 32px;
}
.card .card-header {
  padding: 15px 30px 10px;
  border-bottom-color: #E8E8E8;
  background: none;
}
.card .card-title {
  color: #1E1E1E;
}
.card .card-body {
  padding: 15px 30px;
}

.form-control,
.form-select {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  padding: 4px 12px;
  border-radius: 12px;
  background: #f9fafa;
  border: solid 1px #b9b9b9;
}

.form-select {
  padding-right: 32px;
  background-position: calc(100% - 8px) center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='20' height='20' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)' %3E%3Cpath d='M 90 45 C 90 20.187 69.813 0 45 0 C 20.187 0 0 20.187 0 45 c 0 24.813 20.187 45 45 45 C 69.813 90 90 69.813 90 45 z M 7 45 C 7 24.047 24.047 7 45 7 s 38 17.047 38 38 S 65.953 83 45 83 S 7 65.953 7 45 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(40,187,158); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3Cpath d='M 65.456 38.522 c 0 -0.896 -0.342 -1.792 -1.025 -2.475 c -1.366 -1.367 -3.583 -1.367 -4.949 0 L 45 50.529 L 30.518 36.047 c -1.366 -1.367 -3.583 -1.367 -4.95 0 c -1.366 1.367 -1.365 3.583 0 4.95 l 16.956 16.955 c 1.366 1.367 3.583 1.367 4.949 0 L 64.43 40.997 C 65.114 40.314 65.456 39.418 65.456 38.522 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(40,187,158); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3C/g%3E%3C/svg%3E");
}

.form-label {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #161616;
  font-weight: 500;
  margin-bottom: 6px;
}

div:has(> .form-control:required) > .form-label::after,
div:has(> .form-select:required) > .form-label::after {
  content: "*";
  color: #9D0404;
}

input[type=date] {
  max-width: 127px;
}

.input-group input[type=date] {
  border-left: none;
  border-right: none;
  max-width: 115px;
}
.input-group input[type=date]:first-of-type {
  border-radius: 12px 0 0 12px !important;
  border-left: solid 1px #b9b9b9;
  padding-right: 0;
}
.input-group input[type=date]:last-of-type {
  border-right: solid 1px #b9b9b9;
  padding-left: 0;
}
.input-group input[type=date] + .input-group-text {
  background: #f9fafa;
  border-color: #b9b9b9;
}

.form-check {
  padding-left: 21px;
  margin: 8px 0;
}
.form-check .form-check-input {
  border-color: #b9b9b9;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  margin-top: 5px;
  margin-left: -21px;
}
.form-check .form-check-input:checked {
  background-color: #3CA6F0;
  border-color: #3CA6F0;
}
.form-check .form-check-label {
  font-size: 12px;
  color: #161616;
}
.form-check:has(.form-control) .form-control {
  margin-top: 5px;
}
@media screen and (min-width: 575px) {
  .form-check:has(.form-control) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-check:has(.form-control) .form-check-input {
    margin-top: -1px;
  }
  .form-check:has(.form-control) .form-check-label {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .form-check:has(.form-control) .form-control {
    max-width: 318px;
    margin-top: 0;
    padding-right: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%2328BB9E' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
  }
}