body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  font-weight: 500;
}
p:last-child {
  margin-bottom: 0;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 8px 18px;
  border-width: 1px;
  border-style: solid;
  font-weight: 400;
  border-radius: 4px;
}
.btn.btn-sm {
  padding: 4px 18px;
}
.btn.btn-primary {
  color: #f5f5f5;
  border-color: #28BB9E;
  background-color: #28BB9E;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: #1f917b;
  border-color: #1f917b;
}
.btn.btn-secondary {
  color: #f5f5f5;
  border-color: #8F8F8F;
  background-color: #8F8F8F;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background-color: #767676;
  border-color: #767676;
}
.btn.btn-outline-secondary {
  color: #222222;
  border-color: #8F8F8F;
}
.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
  margin: 16px auto 32px;
}
.card .card-body {
  padding: 15px 30px;
}

.form-control,
.form-select {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  padding: 4px 12px;
  border-radius: 12px;
  background: #f9fafa;
  border: solid 1px #b9b9b9;
}

.form-select {
  padding-right: 32px;
  background-position: calc(100% - 8px) center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='20' height='20' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)' %3E%3Cpath d='M 90 45 C 90 20.187 69.813 0 45 0 C 20.187 0 0 20.187 0 45 c 0 24.813 20.187 45 45 45 C 69.813 90 90 69.813 90 45 z M 7 45 C 7 24.047 24.047 7 45 7 s 38 17.047 38 38 S 65.953 83 45 83 S 7 65.953 7 45 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(40,187,158); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3Cpath d='M 65.456 38.522 c 0 -0.896 -0.342 -1.792 -1.025 -2.475 c -1.366 -1.367 -3.583 -1.367 -4.949 0 L 45 50.529 L 30.518 36.047 c -1.366 -1.367 -3.583 -1.367 -4.95 0 c -1.366 1.367 -1.365 3.583 0 4.95 l 16.956 16.955 c 1.366 1.367 3.583 1.367 4.949 0 L 64.43 40.997 C 65.114 40.314 65.456 39.418 65.456 38.522 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(40,187,158); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3C/g%3E%3C/svg%3E");
}

.form-label {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #161616;
  font-weight: 500;
  margin-bottom: 6px;
}

div:has(> .form-control:required) > .form-label::after,
div:has(> .form-select:required) > .form-label::after {
  content: "*";
  color: #9D0404;
}

.input-group input[type=date] {
  border-left: none;
  border-right: none;
}
.input-group input[type=date]:first-of-type {
  border-radius: 12px 0 0 12px !important;
  border-left: solid 1px #b9b9b9;
  padding-right: 0;
}
.input-group input[type=date]:last-of-type {
  border-right: solid 1px #b9b9b9;
  padding-left: 0;
}
.input-group input[type=date] + .input-group-text {
  background: #f9fafa;
  border-color: #b9b9b9;
}