$color-primary: #28BB9E;
$color-secondary: #8F8F8F;
$color-light: #f5f5f5;
$color-dark: #222222;

$bg-primary: $color-primary;
$bg-secondary: $color-secondary;

$border-primary: $color-primary;
$border-secondary: $color-secondary;